<header>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "AEDs", aeds_path %>
    <%= link_to "Monthly Inspections", monthly_inspections_path %>
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path)  %>
    <% end %>
  </nav>
</header>
