<div class="field">
  <h3>Download Monthly Inspections</h3>
  <% @months.each do |report| %>
  <div class="field">
    <%= link_to monthly_inspections_path(year: report[0], month: report[1], format: :pdf), class: "button" do %>
      <%= Date::MONTHNAMES[report[1]] %> <%= report[0] %>
    <% end %>
  </div>
  <% end %>
</div>
