<div class="field">
  <%= link_to "Add New AED", new_aed_path, class: "button" %>
</div>
<div>
  <table>
    <thead>
      <th>AED</th>
      <th>Location</th>
      <th>Pad 1 Expiration</th>
      <th>Pad 2 Expiration</th>
      <th>Pediatric Pad Expiration</th>
      <th>Battery Expiration</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @aeds.each do |aed| %>
        <tr>
          <td><%= aed.name %></td>
          <td><%= aed.location %></td>
          <td><%= format_date(aed.pad_1_expiration) %></td>
          <td><%= format_date(aed.pad_2_expiration) %></td>
          <td><%= format_date(aed.pediatric_pad_expiration) %></td>
          <td><%= format_date(aed.battery_expiration) %></td>
          <td><%= link_to "Edit", edit_aed_path(aed.id) %></td>
          <td><%= link_to "Delete", aed_path(aed.id), method: :delete, confirm: "Are you sure?" %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
