<div>
  <%= form_for :aed, url: aeds_path do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label :serial_number %>
      <%= f.text_field :serial_number %>
    </div>
    <div class="field">
      <%= f.label :model %>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :date_of_purchase %>
      <%= f.date_field :date_of_purchase %>
    </div>
    <div class="field">
      <%= f.label :battery_expiration %>
      <%= f.date_field :battery_expiration %>
    </div>
    <div class="field">
      <%= f.label :pad_1_expiration %>
      <%= f.date_field :pad_1_expiration %>
    </div>
    <div class="field">
      <%= f.label :pad_2_expiration %>
      <%= f.date_field :pad_2_expiration %>
    </div>
    <div class="field">
      <%= f.label :pediatric_pad_expiration %>
      <%= f.date_field :pediatric_pad_expiration %>
    </div>
    <div>
      <%= link_to "Cancel", aeds_path, class: "cancel-link" %>
      <%= f.submit "Save", class: "button" %>
    </div>
  <% end %>
</div>
