<div>
  <%= form_for @monthly_inspection do |f| %>
    <div class="field">
      <%= f.label :year %>
      <%= f.number_field :year %>
    </div>
    <div class="field">
      <%= f.label :month %>
      <%= f.number_field :month %>
    </div>
    <div class="field">
      <%= f.label :aed_id, "AED" %>
      <%= f.select :aed_id, @aeds %>
    </div>
    <div class="field">
      <%= f.label :cabinet_status %>
      <%= f.select :cabinet_status, @cabinet_statuses %>
    </div>
    <%= f.fields_for :cabinet_status_information, @monthly_inspection.cabinet_status_information do |form| %>
      <div class="field">
        <%= form.label :information, "Cabinet Information" %>
        <%= form.text_area :information %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :aed_unit_status %>
      <%= f.select :aed_unit_status, @aed_unit_statuses %>
    </div>
    <%= f.fields_for :aed_status_information, @monthly_inspection.aed_status_information do |form| %>
      <div class="field">
        <%= form.label :information, "AED Information" %>
        <%= form.text_area :information %>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :rescue_kit_status %>
      <%= f.select :rescue_kit_status, @rescue_kit_statuses %>
    </div>
    <div class="field">
      <%= f.label :comments %>
      <%= f.text_area :comments %>
    </div>
    <div class="actions">
      <%= link_to "Cancel", monthly_inspections_path, class: "cancel-link" %>
      <%= f.submit "Save", class: "button" %>
    </div>
  <% end %>
</div>
