<div class="field">
  <%= link_to "New Inspection", new_monthly_inspection_path, class: "button" %>
</div>
<div>
  <table>
    <thead>
      <th>Month</th>
      <th>AED</th>
      <th>Cabinet Status</th>
      <th>Unit Status</th>
      <th>Rescue Kit Status</th>
      <th>Initials</th>
      <th></th>
      <th></th>
    </thead>
    <tbody>
      <% @inspections.each do |inspection| %>
        <tr>
          <td><%= inspection.month %>/<%= inspection.year %></td>
          <td><%= inspection.aed.name %></td>
          <td><%= inspection.cabinet_status.humanize %></td>
          <td><%= inspection.aed_unit_status.humanize %></td>
          <td><%= inspection.rescue_kit_status.humanize %></td>
          <td><%= inspection.user.initials %></td>
          <td><%= link_to "View", monthly_inspection_path(inspection.id) %></td>
          <td><%= link_to "Edit", edit_monthly_inspection_path(inspection.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
