<style>
  table {
    padding: 10px;
    border-spacing: 0;
    margin: auto;
    width: 100%;
    overflow: scroll;
  }

  thead {
    background-color: #3E606F;
    color: #FCFFF5;
  }

  th {
    padding: 20px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  td {
    text-align: center;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: #193441;

    &:hover {
      text-decoration: underline;
  }

</style>
<table>
  <thead>
    <th>Month</th>
    <th>AED</th>
    <th>Cabinet Status</th>
    <th>Cabinet Notes</th>
    <th>Unit Status</th>
    <th>Unit Notes</th>
    <th>Rescue Kit Status</th>
    <th>Initials</th>
  </thead>
  <tbody>
    <% @reports.each do |inspection| %>
      <tr>
        <td><%= inspection.created_at.in_time_zone.strftime("%d/%m/%Y %H:%m") %></td>
        <td><%= inspection.aed.name %></td>
        <td><%= inspection.cabinet_status.humanize %></td>
        <td><%= inspection.cabinet_status_information.information %></td>
        <td><%= inspection.aed_unit_status.humanize %></td>
        <td><%= inspection.aed_status_information.information %></td>
        <td><%= inspection.rescue_kit_status.humanize %></td>
        <td><%= inspection.user.initials %></td>
      </tr>
    <% end %>
  </tbody>
</table>
