<div>
  <div class="field">
    <strong>AED</strong>: <%= @monthly_inspection.aed.name %>
  </div>
  <div class="field">
    <strong>Inspection Date</strong>: <%= @monthly_inspection.created_at.in_time_zone.strftime("%d/%m/%y %H:%m") %>
  </div>
  <div class="field">
    <strong>Cabinet Status</strong>: <%= @monthly_inspection.cabinet_status.humanize %>
  </div>
  <div class="field">
    <strong>Cabinet Comments</strong>: <%= @monthly_inspection.cabinet_status_information.information %>
  </div>
  <div class="field">
    <strong>AED Unit Status</strong>: <%= @monthly_inspection.aed_unit_status.humanize %>
  </div>
  <div class="field">
    <strong>AED Unit Comments</strong>: <%= @monthly_inspection.aed_status_information.information %>
  </div>
  <div class="field">
    <strong>Rescue Kit Status</strong>: <%= @monthly_inspection.rescue_kit_status.humanize %>
  </div>
  <div class="field">
    <strong>Comments</strong>: <%= @monthly_inspection.comments %>
  </div>
  <div class="field">
    <strong>Inspected By</strong>: <%= @monthly_inspection.user.initials %>
  </div>
  <div class="field">
    <%= link_to "Back", monthly_inspections_path %>
  </div>
</div>
