form {
  padding-right: 20px;
  font-size: 20px;

  input, select, textarea {
    width: 100%;
    padding: 10px;
    font-size: 20px;
  }

  input[type="checkbox"] {
    float: left;
    margin: 0 20px;
    width: inherit;
  }

  .cancel-link {
    margin: 0 20px;
    text-decoration: none;
    color: #3E606F;

    &:hover {
      text-decoration: underline;
    }
  }
}
