body {
  font-family: sans-serif;
  background: #D1DBBD;
  padding: 10px;

  main {
    background: #fff;
    overflow: hidden;
  }

  .alert {
    background-color: red;
    color: white;
    font-size: 18px;
    text-align: center;
  }

  .notice {
    background-color: green;
    color: white;
    font-size: 18px;
    text-align: center;

  }

  .field {
    padding: 10px;
    margin: 10px;
  }
}
