header {
  padding: 20px 10px;
  background-color: #193441;

  nav {
    a {
      color: #FCFFF5;
      text-decoration: none;
      margin: 0 10px;
      text-transform: uppercase;

      &:hover {
        color: #91AA9D;
      }
    }
  }
}
