body {
  .button {
    padding: 15px;
    margin: 15px;
    background-color: #3F1A41;
    color: #FCFFF5;
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
    font-size: 12px;

    &:hover {
      background-color: #91AA9D;
    }
  }
}
