table {
  padding: 10px;
  border-spacing: 0;
  margin: auto;
  width: 100%;
  overflow: scroll;

  thead {
    background-color: #3E606F;
    color: #FCFFF5;
  }

  th {
    padding: 20px;
  }

  tr {
    page-break-inside: avoid;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}

  td {
    text-align: center;
    padding: 20px;
  }

  a {
    text-decoration: none;
    color: #193441;

    &:hover {
      text-decoration: underline;
    }
  }
}
